#img {
    width: 150px;
    height: 150px;
    margin: 10px 10px;
}
.fileTable {
    width: 80%;
}
.detail {
    width: 20%;
    height: 600px;
    float: left;
    background-color: #f5f6fa;
    font-size: 12px;
}
#popover {
    color: black;
}
